body {
  background-image: url("icon.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #111111;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;
}

.links {
  display: flex;
  justify-content: center;
  padding-bottom: 315px;
}

@keyframes glow {
  0% {
    filter: brightness(1.2) drop-shadow(0 0 10px #fff);
  }
  50% {
    filter: brightness(1.4) drop-shadow(0 0 20px #fff);
  }
  100% {
    filter: brightness(1.2) drop-shadow(0 0 10px #fff);
  }
}


a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s;
}

a:hover {
  animation: glow 1s infinite alternate;
  color: #2c3e50;
  transform: scale(1.1);
}


a img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  width: 20px;
  transition: transform 0.3s, filter 0.3s;
}

a:hover img {
  filter: invert(60%) sepia(4%) saturate(7500%) hue-rotate(2deg) brightness(100%) contrast(97%);
  transform: scale(1.1);
}

a:hover img {
  animation: glow 1s infinite alternate;
  transform: scale(1.1);
}
